.layout__content__container {
    .ant-table-cell {
        font-family: "Montserrat", sans-serif;
    }
    .ant-space-item {
        width: 100%;
    }
}

.ant-table-thead tr th {
    color: #ffffff !important;
    background-color: #1678ff !important;
}
