@import "src/UI/Styles/colors";

.layout {
    height: 100vh;
    box-sizing: border-box;

    @media (max-width: 1036px) {
        overflow: auto;
        min-width: 1026px;
    }

    .ant-menu-item-selected {
        color: $color-page-button !important;

        &::after {
            border-bottom-color: $color-page-button !important;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: $color-page-header !important;
    }

    &__content {
        padding: 0 50px;

        &__container {
            height: 100%;
            background-color: $color-page-content;

            h1 {
                margin: 15px;
            }
        }
    }

    &__footer {
        text-align: center;
    }
}
