@import "src/UI/Styles/colors.scss";

.ant-btn.css-dev-only-do-not-override-1ij74fp.ant-btn-primary.ant-btn-compact-item.ant-btn-compact-first-item.add-task-button {
    border-radius: 10px;
    background-color: $color-page-button;
    margin: 10px;
}
