@import "~Styles/colors";

.layout {
    height: 100vh;

    &__header {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: $color-page-header !important;
    }

    &__content {
        padding: 0 50px;

        &__container {
            height: 100%;
            padding: 24px;
            background-color: $color-page-content;
        }
    }

    &__footer {
        text-align: center;
    }
}
